body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #2ecc71;
    color: white;
    background-image: url(/images/blackjack-classic-background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
}

h1 {
    font-size: 36px;
}

#buttons {
    margin-top: 10px;
}

button {
    background-color: #3498db;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
    border-image: round;
}
#player-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
    border-image: round;
}

button:disabled {
    background-color: #7f8c8d;
    cursor: not-allowed;
}

#message {
    font-size: 18px;
    margin-top: 10px;
}

#deck img {
    height: 175px;
    width: 125px;
    margin: 1px;
    border-image: round;
    position: absolute;
    right: 0;
    top: 0;
    margin: 45px;
}